$color-white: #FFFFFF;
$color-black: #000000;
$color-blue: #2FC6F6;
$color-gray: #A8ADB4;
$color-blue-light: #C6EEFC;
$color-red:  rgba(178, 0, 0, 1) ;
$white:  rgba(255, 255, 255, 1);
$blue:  #0063C6 ;
$gray: #848B94;
$black:#525C69 ;